* {
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 30px;
    color: #FFFFFF;
   
}

body {
    background-color: #1B152E;
}




h2 {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
    font-size: larger;
}

h3 {
    text-align: center;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
}

h4 {
    text-align: center;
    margin-top: 70px;
    font-size: small;
    margin-left: 10%;
    margin-right: 10%;

}


a {
    /* Rectangle 31 */


position: absolute;
width: 232px;
height: 53px;
left: 71px;
top: 665px;

background: linear-gradient(64.54deg, rgba(36, 211, 106, 0.75) 15.83%, rgba(74, 127, 189, 0.75) 49.7%, rgba(232, 47, 132, 0.75) 83.57%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 26.5px;


/* EMPARELHAR */


position: absolute;
width: 232px;
height: 53px;
left: calc(50% - 232px/2 - 0.5px);
top: 665px;

font-family: 'Kanit';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;

color: #FDFDFD;
 }

.botao:hover {
    background: #1c0027;
    color: #FFFFFF;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    transition: all 0.25s;

}

#perfil {


    margin-left: 25%;
    margin-right: 25%;
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 50px;
    border-radius: 50%;
    background: linear-gradient(135deg, #59B467 0%, #4A7FBD 51.04%, #E82F84 100%);
    border: 5px solid rgba(255, 255, 255, 0.85);
    box-sizing: border-box;

        }

